header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));  /* Black background */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed; /*Fixed position*/
    width: calc(100% - 100px); /* Makes the header full-width */
    z-index: 100;
    margin: 15px 50px 15px 50px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.logo img{
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.logo img:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.4);
}

/* Navigation */

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
}

.nav-links .nav-item {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out, text-shadow 0.5s ease-in-out;
}

.nav-links .nav-item:hover {
    color: #ff9800;
    transform: scale(1.2);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

#active a{
    color: #ff9800;
}

@media (max-width: 768px) {
    .nav-links .nav-item {
        font-size: 18px;
    }
}

/*Search Bar*/

.search-bar {
    border: none;
    border-radius: 8px;
    outline: none;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    color: #ffffff;
    width: 250px;
    padding: 12px;
    margin-right: 120px;
    transition: box-shadow 0.5s ease-in-out;
    backdrop-filter: blur(30px);
}

.header-icons {
    display: flex;
    align-items: center;
}

.search-bar:hover, .search-bar:focus {
    outline: none;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

/* Search bar container */
.header-icons {
    position: relative; /* To make the results position relative to the container */
}

/* Search Results Dropdown */
.search-results {
    position: absolute;
    margin-top: 5px;
    top: 100%; /* Position below the search bar */
    left: 0;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); /* Dark background matching your theme */
    width: 100%;
    max-width: 250px;
    max-height:300px;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 100;
    color: #fff; /* White text for visibility */
    backdrop-filter: blur(30px);
}

.search-item {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #fff; /* Match the text color with theme */
    font-size: 14px;
    transition: background 0.3s ease-in-out;
}

.search-item:hover {
    background: #303030; /* Lighter dark shade on hover */
}

.search-results p {
    padding: 12px 16px;
    color: #aaa;
    font-size: 14px;
}

/* Profile Icon */

.profile-icon {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.profile-icon img {
    width: 35px; /* Size of the profile image */
    height: 35px;
    object-fit: cover;
    filter: brightness(60%);
    transition: transform 0.2s ease-in-out;
}

.profile-icon:hover img {
    transform: scale(1.2); /* Slight zoom on hover */
}

/* Dropdown Menu */
.profile-dropdown {
    position: absolute;
    top: 65px;
    right: 0px;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    color: #fff;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Prevent interaction when hidden */
    transition: opacity 0.4s ease, visibility 0.3s ease; /* Transition for opacity and visibility */
    padding: 0px 0;
    z-index: 100; /* Ensure it appears above other elements */
    backdrop-filter: blur(30px);
}

.profile-dropdown .welcome-text {
    padding: 10px 15px;
    font-size: 18px;
    color: #ffdd57; /* Light yellow color for the welcome text */
    font-weight: bold;
    text-align: center;
    background: rgba(80, 80, 80, 0.5); /* Slightly different background for the welcome text */
    border-radius: 8px 8px 0 0; /* Rounded top corners for the welcome text */
}

.profile-dropdown a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s;
}

/*.profile-dropdown #signin-button {
    border-radius: 10px 10px 0px 0px;
}*/

.profile-dropdown #logout-button {
    border-radius: 0px 0px 10px 10px;
}

.profile-dropdown #logout-button:hover{
    background: rgba(255, 0, 0, 0.5);
}

.profile-dropdown a:hover {
    background: #303030; /* Highlight on hover */
}

/* Show the dropdown when profile icon is hovered */
.profile-icon:hover .profile-dropdown {
    opacity: 1; /* Make the dropdown visible */
    visibility: visible; /* Allow interaction */
}

/*Cart Icon*/

.cart-icon{
    margin-right: 20px;
    margin-left: 40px;
    transition: transform 0.2s ease-in-out;
}

.cart-icon:hover {
    transform: scale(1.2);
}

.cart-icon img{
    width: 30px; /* Adjust size as needed */
    height: 30px;
    filter: brightness(60%);
}
